{% load static %}

    <div class="container-fluid bg-success bg-gradient mb-2">
        <div class="row justify-content-center">
            <div class="col-xl-10">
                <header class="bg-success bg-gradient my-0">

                    <nav class="navbar navbar-expand-lg navbar-light bg-success bg-gradient">
                        <div class="container-fluid px-0">

                            <a class="navbar-brand text-info fw-bold" href="{% url 'home' %}">
                                <img src="{% static 'images/logo-coffeetech.png' %}" class="img-fluid float-left" alt="Logo" >
                            </a>

                            <button class="navbar-toggler"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#navbarTogglerDemo02"
                                    aria-controls="navbarTogglerDemo02"
                                    aria-expanded="true"
                                    aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>

                            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">

                                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                                    <li class="nav-item">
                                        <a class="nav-link text-dark"  href="{% url 'dashboard' %}">Dashboard</a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link text-dark" href="#">Historico</a>
                                    </li>
                                </ul>

                                <form class="d-flex">
                                    <div class="input-group" >
                                        <input type="search"
                                               id="form1"
                                               class="form-control"
                                               placeholder="Search"
                                               aria-label="Search"
                                               size="30">

                                        <label class="form-label me-24" for="form1" >Search</label>
                                        <button type="button" class="btn btn-primary btn-lg left-customized" style="margin-left: -48px">
                                            <i class="fa-solid fa-magnifying-glass"></i>
                                        </button>
                                    </div>
                                </form>
                            </div>


                            <ul class="navbar-nav me-auto mb-0 mb-lg-0 ">
                                <li class="nav-item">
                                    <i class="fa-regular fa-circle-user fa-xl ms-5" style="color: black" id="userLogo"></i>
                                     <div id="id_username">
                                         {% if user.is_authenticated %}
                                            <a class="nav-link text-dark" href="{% url 'login' %}">
                                                <span>Olá, {{ user.username| title  }}
                                                <br>
                                                    <span>Bem Vindo :)</span>
                                                </span>
                                            </a>
                                         {% else %}
                                            <a class="nav-link text-dark"  href="{% url 'login' %}">
                                                <span>Olá, faça seu login
                                                <br>
                                                    <span>ou cadastre-se</span>
                                                </span>
                                                <i class="fa-solid fa-arrow-right-to-bracket"></i>
                                            </a>

                                         {% endif %}
                                     </div>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </header>
            </div>
        </div>
    </div>
