{% extends 'fragments/base.html' %}
{% block title %} Dashboard {% endblock %}
{% block content %}
{% load static %}

   {% if user.is_authenticated %}
      <div class="row justify-content-center">
         <img class="align-items-center" id="imagem" src="{% static 'images/relogio_digital.jpg' %}">
      </div>

      <div id="timer">
         {{ status.tempo }}
      </div>

      <div class="container" id="dashboard">
         <div class="row">
            <div  class="col-md informacoes_basicas">

               <h1><i class="fa-solid fa-temperature-three-quarters fa-2xl"></i> Temperatura:
               </svg> &nbsp <span id="temperatura_atual"></span></h1>
           </div>

           <div class="col-md informacoes_basicas">
               <h1><i class="fa-solid fa-droplet fa-2xl"></i> Umidade:
               </svg> &nbsp  <span id="umidade_atual"></span></h1>
           </div>

           <div class="col-md informacoes_basicas">
               <h1><i class="fa-solid fa-power-off fa-2xl"></i> Power:
               </svg>  <span id="power_atual"></span></h1>
           </div>
         </div>
         <div class="row">

            <div class="col-md"><br>
               <h1>Temperatura X Tempo:</h1>
               <canvas id="temperatura_atual_canvas" width="250" height="200"></canvas>
            </div>

            <div class="col-md">
               <br>
               <h1> Umidade X Tempo:</h1>
               <canvas id="umidade_atual_canvas" width="250" height="200"></canvas>
            </div>
         </div>
<!--         <div class="row">-->
<!--           <div class="col-md">-->
<!--               <br>-->
<!--               <h1>Temperatura X Umidade:</h1>-->
<!--               <canvas id="temperatura_umidade_atual_canvas" width="200" height="200"></canvas>-->
<!--           </div>-->

<!--         </div>-->
      {% endif %}
   </div>

    <script>

       function segundoaSegundo(){
             renderiza_dados('{% url "retorna_dados_dashboard" %}')

       }

       function cincosegundos(){
           renderiza_temperatura()
           renderiza_umidade()
       }
       renderiza_temperatura()
       renderiza_umidade()
       setInterval(segundoaSegundo, 1000);
       setInterval(cincosegundos, 5000);

    </script>

   <div class="footer-botom">{% include 'fragments/footer.html' with var_position='posisition-sticky' %}</div>
{% endblock %}


