.btn btn-primary btn-lg left-customized{
    margin-left: -4800px;

}
.img-fluid
{
    max-height: 150px;
    max-width: 150px;
}
.input-group{
    width: 420px;
}

#id_username{
    margin-left: 15px;

}
.nav-item{
    margin-left: 25px;
}
#userLogo{
    margin-top: 25px;
}
.linhaComTexto {
  width: 100%;
  height: 22px;
  border-bottom: 1px solid black;
  text-align: center;
}

.linhaComTexto > span {
  font-size: 23px;
  background-color: #F3F5F6;
  padding: 0 10px;
}
#imagem {
    width: 186px;
    height: 118px;
}

#timer {
    font-size: 43px;
    position: absolute;
    margin-top: -95px;
    right: 47%;
}
#fa-solid{
    top: 20px;
    background-color: black;
}
#visibilityBtn{
    position: absolute;
    right: 0px;
    margin-top: -30px;
    margin-right: 17px;
    color: gray;
}