{% extends 'fragments/base.html' %}

{% load widget_tweaks %}

{% block title %} Resetar senha {% endblock %}
{% block content %}

<main class="bg-light">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-xl-8">
                <div class="row justify-content-center">
                    <h1>Reset de senha</h1>
                    <p>
                        Sua senha foi redefinida com sucesso. Você pode <a href="{% url 'login' %}">fazer login agora</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</main>
<div class="footer-botom">{% include 'fragments/footer.html' with var_position='fixed-bottom' %}</div>
{% endblock %}